<table class="table table-hover">
  <thead>
  <tr>
    <th>Title</th>
    <th>Artist</th>
  </tr>
  </thead>
  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td>
          <%= song.title %>
        </td>
        <td>
          <%= song.artist %>
        </td>
        <td>
          <%= link_to "Details", song %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
